/* About.css */

.About {
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: white;
}

.about-section {
    padding: 5%;
    height: 100%;
    text-align: center;
    color: black;
    background: white;
}


.column {
    float: left;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5%;
}

.row{
    display: table;
    background-color: #2D5A48;
    width: 40%;
}

.title {
    background: white;
    color: #BD8B13;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #2D5A48;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.button:hover {
    background-color: #555;
}


