.courseCode{
    display:flex;
    justify-content: center;
}
.courseName{
    display:flex;
    justify-content: center;
    font-size: 12px;
}

.class .classInfo  {
    max-width: 25%;
    opacity: 100;
}




