.grid{
    display: flex;
}
.grid::-webkit-scrollbar {
    display: none;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}
.term{
    display:flex;
}
