.grid{
    display: flex;
}
.page {
    display: flex;
    flex-direction: column;
}

.term{
    display:flex;
}

.total-units {
    position: absolute;
    bottom: 0;
    left: -2%;
    width: 100%;
    text-align: right;

}