.Home {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
    font-family: Inter;
}


.topBar {
    grid-area: 1 / 1 / 2 / 10;
}

.grid {
    overflow: scroll;
    width:100%;
    flex:4;
    background-color: #ffffff;
    z-index:100;
}
.sideBar {
    /*margin-right:-25%;*/
}

.bottom-screen {
    grid-area: 2 / 1 / 6 / 6;
    display: flex;

}

.noFlowchartMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    width: 100%;
}

.totalUnits {
    display: flex;
    justify-content: right;
    margin-right: 1%;
    grid-area: 9 / 3 / 9 / 10;
}