/* Login.css */

.Login {
    font-style: normal;
    font-weight: 250;
    text-align: center;
}

.Login form {
    display: flex;
    flex-direction: column;
}

.Login label {
    display:flex;
}

.Login input {
    box-sizing: border-box;

    width: 45%;

    border: 0.1em solid #154734;
    border-radius: 10em;

    padding: 1.2%;
}

.Login button {
    width: 45%;

    background: #154734;
    border-radius: 10em;

    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 190%;

    color: #FFFFFF;

    margin-bottom: 2%;
}

.Login link {
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 160%;

    color: #FFFFFF;
}

.Login button:hover {
    background-color: #0056b3;
}

.Login p {
    margin-top: 1%;
}

.microsoft-sign-in {
    margin-left: 0.5rem; /* Adjust the space between the icon and text */
    text-transform: none; /* Override the default uppercase text transform */
    width: 20%
    /* Add any other styles you want to match the font with the rest of the page */
}

.divider {
    width: 10%;
}

.topBar{
    background-color: #2D5A48;
    justify-content: space-between;
}

