/* Register.css */

.Register {
    font-style: normal;
    font-weight: 250;
    font-size: 1em;
    margin-top: 10%;
    margin-left: 35%;

    padding: 1.2%;
}

.Register form {
    display: flex;
    flex-direction: column;
}

.Register label {
    display:flex;
}

.Register input {
    box-sizing: border-box;

    width: 45%;

    border: 0.1em solid #154734;
    border-radius: 10em;

    padding: 0.8em;
}

.Register button {
    width: 45%;

    background: #154734;
    border-radius: 10em;

    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 160%;

    color: #FFFFFF;

    margin-bottom: 2%;
}

.Register button:hover {
    background-color: #0056b3;
}

.Register p {
    margin-top: 1%;
}
