.barItemTitle{
    width: 100%;
    /*float: left;*/
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

