.term{
    height: 100%;
    width:150px;
    display: flex;
    flex-flow: column;
    flex-direction: column;
}
.title{
    background-color: #DFD6C4;
    display:flex;
    justify-content: center;
}
.body{
    border: solid #BD8B13;
    height: 100%;
}
