.topBar{
    display: flex;
    background: #2D5A48;
    width: 100%;
}
.titleBar{
    flex: 1;
}
.editBar{
    flex: 1;
    align-items: center;
}
.profile{
    flex: 1;
}
.flowchartInfo {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 5;
}