.quarter{
    background-color: #ffffff;
    height: 75vh;
    position: relative;
    width:150px;

}
.title{
    background-color: #DFD6C4;
    display:flex;
    justify-content: center;
}
.body{
    border: solid #BD8B13;
    height:75%;


}
