.sideBarItem{
    width: 100%;
    display: flex;
    border-bottom: rgba(74,72,76,0.62) solid 2px;
    background: rgba(255,240,215,0.63);
}

.barItemTitle{
    margin-left: 8px;
    width: 60%;
    float: left;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    display: inline;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
