.header{
    background-color: #ffffff;
    height: 75vh;
    position: relative;
    width:150px;
}
.title{
    background-color: #DFD6C4;
    display:flex;
    justify-content: center;
}
.body{
    border-left: solid #BD8B13;
    border-bottom: solid #BD8B13;
    border-top: solid #BD8B13;
    height:75%;

    max-width: 100%;
    overflow-x: hidden;
}
