.titleBar{
    background: #F5F5F5;
    width: inherit;
    height: 50%;
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: 'Inter', sans-serif;
}
.flowName{
    flex-grow: 1;
    text-align: left;
    margin-left: 20px;
}
.degreeMajor{
    flex-grow: 1;
    text-align: center;
}
.catalog{
    flex-grow: 1;
    text-align: right;
    margin-right: 20px;
}